* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #00004d;
    color: black;
}

.dflex{
    display: flex;
}

form {
    max-width: 900px;
    width: 100%;
    border-radius: 10px;
    padding: 40px;
    font-size: 30px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: white
}

input{
    display: block;
    width: 400px;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 20px;
}

.btn {
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid black

}

form div {
    margin-bottom: 20px;
}
form div:last-child {
    margin-bottom: 0;
    justify-content: flex-end;
}
label {
    display: block;
    width: 35%;
}

ul {
    max-width: 900px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    color: white;
    font-size: 40px;
}